{% extends 'base.html.twig' %}

{% block title %}New InfoDependencia{% endblock %}

{% block body %}

    <div id="loaderB"></div>
    <div class="card" style="overflow:auto">
    
        <div class="card-header">
            <div class="row">
                <div class="col-sm-8">
                    <h3><i class="fa fa-institution"></i>&nbsp; <b>Crear nueva dependencia</b></h3>
                    <p class="text-muted h6 m-b-10 mt-3">Complete los campos para crear la nueva dependencia</p>
                </div>
                <div class="col-sm-2">
                    <a href="{{path('app_admin_dependencias_index')}}"><button
                            class="btn btn-inverse btn-inverse-jag btn-inverse-jag btn-outline-inverse" style="width: 100%;">
                            <i class="ti-back-left"></i>&nbsp;Volver</button></a>
                </div>
    
            </div>
        </div>
    
        <br>
        <div class="card-block">

            {{ include('admin_dependencias/_form.html.twig') }}

        </div>

{% endblock %}
