
    <!-- M O D A L    E L I M I N A R -->
    <div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #FF0000;">
                    <h5 class="modal-title text-white">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: #FF0000;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-eliminar" method="POST" action="">
                        <input type="hidden" name="_token" id="eliminar_token" value="">
                        <div class="modal-body">
                        </div> 
                
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                <i class="ti-close"></i> Cancelar</button>
                            <button type="submit" class="btn btn-primary">
                                <i class="ti-check"></i> Aceptar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
