<div id="modalContainer">
    <div id="modal">
        <div id="modalTitle">
        </div>
        <div id="modalTitleBar">
            <div class="modalClose"><i class="ti-close modalClose"></i></div>
        </div>
        <div id="modalContent"></div>
    </div>
</div>