<div class="pcoded-navigation-label">Contabilidad</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a href="{{path('app_contable_dependencias')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-clipboard-check"></i></span>
            <span class="pcoded-mtext">Autorizaciones</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="#">
            <span class="pcoded-micon"><i class="fa-solid fa-gear"></i><b>Editar Agente</b></span>
            <span class="pcoded-mtext  disable-item">Editar Agente</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-user-tie"></i><b>Auditoria</b></span>
            <span class="pcoded-mtext  disable-item">Auditoria</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="#">
                    <i class="fa-solid fa-clipboard-check"></i> &nbsp;Bitácora de actividad
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>           
        </ul>
    </li>

    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-user-tie"></i><b>Reportes</b></span>
            <span class="pcoded-mtext disable-item">Reportes</span>
            <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
            <li class=" ">
                <a href="#">
                    <i class="fa-solid fa-clipboard-check"></i> &nbsp;Autorizaciones por periodo
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>           
            <li class=" ">
                <a href="#">
                    <i class="fa-solid fa-clipboard-check"></i> &nbsp;Autorizaciones diagrama Sankey
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>           
        </ul>
    </li>
</ul>