<div class="pcoded-navigation-label">Dependencia</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a href="{{ path('app_viatico_index')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-envelopes-bulk"></i></span>
            <span class="pcoded-mtext">Novedades</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="{{path('app_solicitud_generar_plantilla')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-money-check"></i></span>
            <span class="pcoded-mtext">Solicitar</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
         <a href="{{path('app_plantilla_index')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-users-gear"></i></span>
            <span class="pcoded-mtext">Plantilla agentes</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>                