<div class="pcoded-navigation-label">Consultas</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="{{path('app_agente_index')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-clipboard-check"></i></span>
            <span class="pcoded-mtext">Historial por agentes</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="{{path('app_agente_index')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-clipboard-check"></i></span>
            <span class="pcoded-mtext">Agente y dependencia</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="{{path('app_agente_index')}}">
            <span class="pcoded-micon"><i class="fa-solid fa-clipboard-check"></i></span>
            <span class="pcoded-mtext">Por programa o item</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>
<br>
<br>
<br>