<div class="pcoded-navigation-label">Liquidaciones</div>
<ul class="pcoded-item pcoded-left-item">
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"> <i class="fa-solid fa-table-list"></i></span>
            <span class="pcoded-mtext  disable-item">Control plantillas</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-scale-balanced"></i></span>
            <span class="pcoded-mtext disable-item">Cupos</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-list"></i></span>
            <span class="pcoded-mtext disable-item">Listados</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-file-invoice-dollar"></i></span>
            <span class="pcoded-mtext disable-item">Ordenes de pago</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-money-bill-transfer"></i></span>
            <span class="pcoded-mtext disable-item">Depósitos</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="pcoded-hasmenu">
        <a href="javascript:void(0)">
            <span class="pcoded-micon"><i class="fa-solid fa-user-pen"></i></span>
            <span class="pcoded-mtext disable-item">Editar Agente</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>  