
<div class="pcoded-navigation-label">Tesoreria</div>
<ul class="pcoded-item pcoded-left-item">
    <li class=" ">
        <a href="javascript:void(0)">
            <span class="pcoded-micon disable-item"> <i class="fa-solid fa-table-list"></i></span>
            <span class="pcoded-mtext disable-item">Pagos</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class=" ">
         <a href="javascript:void(0)">
            <span class="pcoded-micon disable-item"> <i class="fa-solid fa-table-list"></i></span>
            <span class="pcoded-mtext disable-item">Consultas</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>                    
    <li class=" ">
         <a href="javascript:void(0)">
            <span class="pcoded-micon disable-item"> <i class="fa-solid fa-table-list"></i></span>
            <span class="pcoded-mtext disable-item">Recibos</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>                    
    <li class=" ">
         <a href="javascript:void(0)">
            <span class="pcoded-micon disable-item"> <i class="fa-solid fa-table-list"></i></span>
            <span class="pcoded-mtext disable-item">Listados</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>